body {
  font-family: 'Open sans', sans-serif;
}

.entry-title {
  color: white;
  background-color: 47476b;
  display: inline-block;
}

article {
  background-color: 0059b3;
  color: white;
  border: solid gray 1px;
  border-radius: 3px;
  padding: 2px;
  margin: 5px;
}
