body {
  font-family: 'Open sans', sans-serif;
}

.entry-title {
  color: white;
  background-color: black;
  display: inline-block;
  border: solid white 1px;
  padding: 4px;
}

article {
  background-color: 0059b3;
  color: white;
  border: solid gray 1px;
  border-radius: 3px;
  padding: 5px;
  margin: 10px;
}
